#projectList {
  margin-top: 200px;
  border-radius: 30px 30px 0px 0px;
  background: white;
  h2 {
    padding-top: 60px;
    margin-bottom: 80px !important;
  }
  .grid-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .card {
    border: 3px solid rgb(240, 240, 240);
    display: flex;
    height: 720px;
    .card-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 70%;
      padding: 0px 20px;
      h3 {
        font-size: 2rem;
      }
      p {
        margin: 20px 30px !important;
      }
      ul {
        display: flex;
        margin: 30px 10px;
        li {
          margin-left: 10px;
          padding: 6px 30px;
          border-radius: 20px;
          background-color: rgba(0, 255, 255, 0.048);
          box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.01),
            inset -2px -5px 10px rgba(255, 255, 255, 0.9),
            15px 15px 10px rgba(0, 0, 0, 0.05),
            15px 10px 15px rgba(0, 0, 0, 0.025);
        }
      }
      a {
        text-align: center;
        margin: 20px auto;
        border-radius: 5px;
        width: 130px;
        padding: 6px 0px;
        background-color: rgba(17, 0, 255, 0.048);
        box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.01),
          inset -2px -5px 10px rgba(255, 255, 255, 0.9),
          15px 15px 10px rgba(0, 0, 0, 0.05),
          15px 10px 15px rgba(0, 0, 0, 0.025);
      }
    }
    .card-left {
      width: 30%;
      overflow: hidden;
      display: grid;
      grid-template-columns: 1fr;
      background-color: rgb(240, 240, 240);
      img {
        background-size: cover;
        width: 100%;
        height: 240px;
      }
    }
  }
}
