#error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 88.4vh;
  background: url(../image/BGerror.jpg);
  background-size: cover;
  .background-error {
    background-color: rgba(255, 255, 255, 0.349);
    backdrop-filter: blur(2px);
    padding: 100px 250px;
    margin: 0px auto;
    border-radius: 20px;
    h1 {
      font-weight: 400;
      font-size: 9rem;
      margin-bottom: 80px;
    }
    p {
      font-size: 1.5rem;
      margin-bottom: 30px;
    }
    a {
      font-size: 1.5rem;
    }
  }
}
