#openclass {
  h2 {
    margin: 50px 80px;
    margin-bottom: 150px;
    font-size: 2.2rem;
  }
  h3 {
    text-align: center;
    margin: 50px 80px;
  }
  p {
    margin: 0px 50px;
    text-align: justify;
    line-height: 25px;
  }
}
.list {
  .language {
    margin: auto 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 100px;
    .bubble {
      font-size: 1.4rem;
      background-color: #aaaaaa34;
      width: 220px;
      height: 220px;
      margin: auto;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      display: flex;
      box-shadow: 25px 35px 20px rgba(0, 0, 0, 0.05),
        25px 30px 30px rgba(0, 0, 0, 0.05);
      border-radius: 15px;
      i {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        font-size: 3rem;
      }
    }
  }
}
